.container-fluid, .row, .col-sm-10{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: visible;
}


body{
    padding: 0;
    margin: 0;


}

#btn{
    position: absolute;
    margin: 10px;
    left: 200px;
    bottom: 20.5px;
    background: #fea;
    padding: 15px;
    font-family: arial;
}

#toggleWireframe{
    position: absolute;
    margin: 10px;
    bottom: 20.5px;
    left: 670px;
    background: #fea;
    padding: 15px;
    font-family: arial;
}

#switchModel{
    position: absolute;
    margin: 10px;
    bottom: 20.5px;
    left: 0;
    background: #fea;
    padding: 15px;
    font-family: arial;
}

#rotateModel{
    position: absolute;
    margin: 10px;
    bottom: 20.5px;
    left: 900px;
    background: #fea;
    padding: 15px;
    font-family: arial;
}

#playSecondModelAnimation{
    position: absolute;
    margin: 10px;
    left: 400px;
    bottom: 20.5px;
    background: #fea;
    padding: 15px;
    font-family: arial;
}

#gui-container {
    position: absolute;
    top: 120px; 
    left: 10px; 
    z-index: 1000; 
  
  }
