.container-fluid, .row, .col-sm-10{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: visible;
}


body{
    padding: 0;
    margin: 0;


}

.btn-group button {
  background-color: #fffd88; /* Green background */
  border: 1px solid rgb(188, 122, 72); /* Green border */
  color: rgb(46, 0, 0); /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #e3c34d;
}

.btn-group{
    margin: auto;
}

.animation-group button {
  background-color: #fffd88; /* Green background */
  border: 1px solid rgb(188, 122, 72); /* Green border */
  color: rgb(46, 0, 0); /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.animation-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.animation-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.animation-group button:hover {
  background-color: #e3c34d;
}

.animation-group{
    position: absolute;
    bottom: 0;
    margin: auto;

}

#gui-container {
    position: absolute;
    top: 120px; 
    left: 10px; 
    z-index: 1000; 
  
  }

  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #d6c14c;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #dfdf52;
  color: rgb(0, 0, 0);
}
